body {
    background-color:#f2f2f2;
   font-family:'Comic Sans MS',Arial;
}  
#header_index {
    background:#000;
    color:white;
    height:80px;
    }
    #header_index a{
        color:white;
      
    }

    #logo_index {
        float:left;
        padding: 15px 0px 0px 20px;
        text-decoration: none;
        background-color: #000;
        color:white;

    }
    
    #logo_index .nombreabre {
        display:block;
        font-weight:700;
        font-size:1.2em;
    }
    #logo_index .nombrecom {
        display:block;
        font-weight:300;
        font-size:0.8em;
    }

    #ul_index {
        float:right;
    }
    #header_index #ul_index {
        margin:0;
        padding:0;
        right:0;
        list-style:none;
        padding-right:20px;
        overflow:hidden;
    }
    #header_index #ul_index #li_index {
        display:inline-block;
        line-height:40px;
        
    }
     #header_index #ul_index #li_index #a_index {
        display:block;
        padding:0px;
        text-decoration:none;  
        font-size:16px;

        -moz-transition: all 300ms ease-in-out 0s;
        -ms-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        transition: all 300ms ease-in-out 0s;

     }
     #header_index #ul_index #li_index #a_index:hover {
        text-shadow:0 0 1px #fff;
        font-weight:500;
        color:red;
        -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
     }


    #header_index {
        background:#000;
        color:white;
        height:90px;
        width:100%;
        left:0px;
        top:0px;
        position:fixed;
        z-index:100;
    }

#li_menu_index {
    
}

    #header_index #contenedor_menu_index {
        
        text-align:center;
        
    
    }
    #contenedor_menu_index #ul_menu_index {
        margin:0;
        padding:0;
        right:0;
        list-style:none;
        padding-right:20px;
        /*border: 3px double #369;*/
        

    }
    #contenedor_menu_index #ul_menu_index #li_menu_index {
        display:inline-flex;
        line-height:40px;
        

    }
     #contenedor_menu_index #ul_menu_index #li_menu_index #a_menu_index {
        display:flex;
        padding:0px;
        text-decoration:none;
        font-size:16px;    
        font-weight:600;

        -moz-transition: all 300ms ease-in-out 0s;
        -ms-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        transition: all 300ms ease-in-out 0s;
        
        

     }
     #contenedor_menu_index #ul_menu_index #li_menu_index #a_menu_index:hover {
        text-shadow:0 0 3px #f2f2f2;
        /*font-weight:600;*/
        font-size:16px;
        color:orange;

        -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        

     }
#contenedor_piepag_index{
    position:fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: black;
}
#h3_piepag_index{
    text-align: center;
}
#h3_piepag_index a{
    text-decoration: none;
    color:white;
    font-size: 10px;
}

--------------------------------------------------------
#btnmenu{
float: left;
    
}
#menu{
    
    background-color: black;
    position: absolute;
    text-align:center;

}
#btnmenu a{
    text-decoration: none;
   
}