body {
    background-image:url(../Imagenes/Imagen_login.jpeg);
    font-family:'Comic Sans MS',Arial;
    background-repeat:no-repeat;
}
#logo_header {
    background-color: black;
    color: white;
}
#header_login {
    background:black;
    color:white;
    height:100px; 
    margin:0;
    width:100%;
}
#imglogo_header {
    /*margin-left:190px;*/
}
  #logo_header {
       
        padding: 15px 0px 0px 20px;
        text-decoration: none;
        background-color: black;
        color:white;
         width:100%;
        left:0px;
        top:0px;
        position:fixed;
        z-index:100;
        text-align:center;

    }
    
    #logo_header .nombreabre {
        display:block;
        font-weight:700;
        font-size:14px;
    }
    #logo_header .nombrecom {
        display:block;
        font-weight:300;
        font-size:18px;
    }

    #ul_header {
        float:right;
    }
    #header_login #ul_header {
        margin:0;
        padding:0;
        right:0;
        list-style:none;
        padding-right:20px;
        overflow:hidden;
    }
    #header_login #ul_header #li_header {
        display:inline-block;
        line-height:40px;
        padding-left:10px;
        padding-right:10px;
    }
     #header_login #ul_header #li_header #a_header {
        display:block;
        padding:0px;
        text-decoration:none;  
        font-size:16px;    
        color:white;
     }
     #header_login #ul_header #li_header #a_header:hover {
        text-shadow:0 0 1px #fff;
        font-weight:500;
        background-color:#898989;
        color:white;
        font-weight:300;
     }


